@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Special+Elite");

@import url("components/avatar.css");
@import url("components/buttons.css");
@import url("components/banner.css");
@import url("components/message.css");
@import url("components/card.css");

body {
	font-family: 'Indie Flower', cursive, sans-serif;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Special Elite', cursive, sans-serif;
}

h2 {
	color: white;
	background: black;
	text-align: center;
	margin: 10px;
}

.wrapper {
	background: black;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: orange;
}

.text-center {
	text-align: center;
}